<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col bg-info"><h2>Soy la columna 1</h2></div>
      <div class="col bg-success"><h2>Soy la columna 2</h2></div>
      <div class="col bg-primary"><h2>Soy la columna 3</h2></div>
      <div class="col bg-danger"><h2>Soy la columna 4</h2></div>
    </div>
  </div>
</div>

<h1>Hola mundo</h1>

<!-- Imprimir la variable data de mi component.ts
<h2>{{ data | json }}</h2> -->

<!-- Imprimir con un NgFor la data de mi app.component.ts -->
<ul>
  <li *ngFor="let item of response.data">{{ item | json }}</li>
</ul>
