@import '../abstracts/variables';

header {
  width: 100%;

  .navbar {
    font-family: 'Poppins-Medium';
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    font-size: 15px;
    filter: drop-shadow(rgb(108, 108, 108) 0px 2px 5px);
    color: #bcbcbc;

    .navbar-brand {
      width: 7rem;
      padding-left: 1.3rem;

      // text-align: right;
      .imgLogo {
        border-radius: 50%;
        background-color: darkblue;
        margin-left: 25%;
        width: 4rem;
        height: 4rem;
      }
    }

    .collapse {
      margin-inline: 3%;

      .navbar-nav {
        justify-content: center;
        align-items: center;

        .nav-item {
          padding-bottom: 0%;

          a:hover {
            color: #185a93;
            text-decoration: underline;
            text-decoration-color: #185a93;
            text-shadow: #a7a7a7 0em 0.3em 0.5em
          }
        }

        .dropdown {
          .nav-item-arrow::after {
            font-family: FontAwesome;
            content: "\f107";
            padding-left: 4px;
          }

          .dropdown-menu {
            .dropdown-item {
              height: 40px;
            }
          }
        }

        .buttonNav {
          font-size: 15px;
          width: 9rem;
          color: white;
          border-radius: 8px;
          background-color: #409FC7;
          text-align: center;
          border: none;
          margin-inline: 20px;
        }

        .dropstart {

          button {
            font-size: 15px;
            width: 9rem;
            color: white;
            border-radius: 8px;
            background-color: #409FC7;
            text-align: center;
            border: none;
            margin-inline: 20px;

          }
        }

      }
    }
  }

  @include media-breakpoint-up(xs) {
    .navbar {
      .collapse {
        .navbar-nav {
          text-align: center;

          .nav-item {
            width: 100%;
          }

          .buttonNav {
            margin-block: 0.5rem;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .navbar {
      .collapse {
        .navbar-nav {
          .buttonNav {
            margin-block: 0.5rem;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .navbar {
      .collapse {
        .navbar-nav .buttonNav {
          margin-block: 0.5rem;
          margin-inline: 0.2rem;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .navbar {
      font-family: 'Poppins-Medium';
      background-color: white;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      font-size: 15px;
      filter: drop-shadow(rgb(108, 108, 108) 0px 2px 5px);
      color: #bcbcbc;

      .navbar-brand {
        width: 6rem;
        padding-left: 1.3rem;

        // text-align: right;
        .imgLogo {
          border-radius: 50%;
          background-color: darkblue;
          margin-left: 1rem;
          width: 4rem;
          height: 4rem;
        }
      }

      .collapse {
        margin-inline: 0rem;

        .navbar-nav {
          justify-content: center;
          align-items: center;

          .nav-item {
            padding-bottom: 0%;
            font-size: 12.3px;

            a:hover {
              color: #185a93;
              text-decoration: underline;
              text-decoration-color: #185a93;
              text-shadow: #a7a7a7 0em 0.3em 0.5em
            }
          }

          .dropdown {
            .nav-item-arrow::after {
              font-family: FontAwesome;
              content: "\f107";
              padding-left: 4px;
            }

            .dropdown-menu {
              .dropdown-item {
                height: 40px;
              }
            }
          }

          .buttonNav {
            font-size: 15px;
            width: 5rem;
            color: white;
            border-radius: 8px;
            background-color: #409FC7;
            text-align: center;
            border: none;
            margin-inline: 10px;
          }

          .dropstart {

            button {
              font-size: 15px;
              width: 9rem;
              color: white;
              border-radius: 8px;
              background-color: #409FC7;
              text-align: center;
              border: none;
              margin-inline: 10px;

            }
          }

        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .navbar {
      font-family: 'Poppins-Medium';
      background-color: white;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      font-size: 15px;
      filter: drop-shadow(rgb(108, 108, 108) 0px 2px 5px);
      color: #bcbcbc;

      .navbar-brand {
        width: 7rem;
        padding-left: 1.3rem;

        // text-align: right;
        .imgLogo {
          border-radius: 50%;
          background-color: darkblue;
          margin-left: 25%;
          width: 4rem;
          height: 4rem;
        }
      }

      .collapse {
        margin-inline: 1rem;

        .navbar-nav {
          justify-content: center;
          align-items: center;

          .nav-item {
            padding-bottom: 0%;
            font-size: 15px;

            a:hover {
              color: #185a93;
              text-decoration: underline;
              text-decoration-color: #185a93;
              text-shadow: #a7a7a7 0em 0.3em 0.5em
            }
          }

          .dropdown {
            .nav-item-arrow::after {
              font-family: FontAwesome;
              content: "\f107";
              padding-left: 4px;
            }

            .dropdown-menu {
              .dropdown-item {
                height: 40px;
              }
            }
          }

          .buttonNav {
            font-size: 15px;
            width: 9rem;
            color: white;
            border-radius: 8px;
            background-color: #409FC7;
            text-align: center;
            border: none;
            margin-inline: 20px;
          }

          .dropstart {

            button {
              font-size: 15px;
              width: 9rem;
              color: white;
              border-radius: 8px;
              background-color: #409FC7;
              text-align: center;
              border: none;
              margin-inline: 20px;

            }
          }

        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    .navbar {
      font-family: 'Poppins-Medium';
      background-color: white;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
      font-size: 15px;
      filter: drop-shadow(rgb(108, 108, 108) 0px 2px 5px);
      color: #bcbcbc;

      .navbar-brand {
        width: 7rem;
        padding-left: 1.3rem;

        // text-align: right;
        .imgLogo {
          border-radius: 50%;
          background-color: darkblue;
          margin-left: 25%;
          width: 4rem;
          height: 4rem;
        }
      }

      .collapse {
        margin-inline: 3%;

        .navbar-nav {
          justify-content: center;
          align-items: center;

          .nav-item {
            padding-bottom: 0%;
            font-size: 17px;
            a:hover {
              color: #185a93;
              text-decoration: underline;
              text-decoration-color: #185a93;
              text-shadow: #a7a7a7 0em 0.3em 0.5em
            }
          }

          .dropdown {
            .nav-item-arrow::after {
              font-family: FontAwesome;
              content: "\f107";
              padding-left: 4px;
            }

            .dropdown-menu {
              .dropdown-item {
                height: 40px;
              }
            }
          }

          .buttonNav {
            font-size: 15px;
            width: 9rem;
            color: white;
            border-radius: 8px;
            background-color: #409FC7;
            text-align: center;
            border: none;
            margin-inline: 20px;
          }

          .dropstart {

            button {
              font-size: 15px;
              width: 9rem;
              color: white;
              border-radius: 8px;
              background-color: #409FC7;
              text-align: center;
              border: none;
              margin-inline: 20px;

            }
          }

        }
      }
    }
  }
}
